# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment folder
venv/
.env/
.env.*

# Ignore sensitive configuration files
config.json
config.yaml
config.ini
config.py

# Environment variables
*.env

# Logs and debug files
*.log
*.pid

# Cache and IDE files
*.cache
*.DS_Store
.vscode/
.idea/

# Packages
*.egg
*.egg-info/
dist/
build/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS specific
.DS_Store

# files that are not needed to be shared for now
cc.py
event.py
emergency.py
data/ccac_birthday.db
discloud.config
Cheesecake.code-workspace.json
2.0.0